/* Name: Anita Chen, Date: 12/25/2019
styles.css: This css file contains the styling for the website.
*/

/* // doesn't work; p is the selector, color is property, red property value
color: red is declaration, everything is called rule set
p, li to select both selectors
use multiple lines for multiple styles*/
/*p, li {
  color: red;
  width: 500px;
  border: 1px solid black;
}*/

/*Get css and html here https://fonts.google.com/specimen/Quicksand*/
html {
  font-size: 20px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-weight: bold;
  font-family: 'Quicksand', sans-serif; /* this should be the rest of the output you got from Google fonts */
  line-height: 2; /* spacing between lines */
  letter-spacing: 1px; /* spreading words out */
  /*background-color: #FFEBEF;*/
  background: url('../images/pinkcutebackground.jpg'); // got to make sure your path is right
  background-size: cover;
  background-repeat: repeat-x;
}

h1 {
  margin: 0; /* gap at top */
  padding: 20px 0; /* top bottom */
  color: #ffafc4;
  /*text-shadow: 3px 3px 1px black;*/ /* horizontal offset, vertical offset, blur radius, base color */
  font-size: 60px;
  font-family: 'Alex Brush', cursive;
  line-height: normal;
  text-align: center; /* center */
}

h4 {
  font-size: 12px; /* px means "pixels": the base font size is now 10 pixels high  */
  font-family: 'Quicksand', sans-serif; /* this should be the rest of the output you got from Google fonts */
  line-height: 2; /* spacing between lines */
  letter-spacing: 1px; /* spreading words out */
  text-align: center; /* center */
}

body {
  width: 600px; /* body always 600px */
  margin: 0 auto; /* top/bottom is 0, left and right evenly distributed */
  background-color: #fffaf4;
  padding: 0 100px 0px 100px; /* top right bottom left */
  border: 5px solid #ffebef; /* took a while but here: https://stackoverflow.com/questions/7094608/why-my-css-did-not-set-the-color-of-div-border-successfully */
}

img {
  display: block; /* body is block level, image is inline, must apply block for margin */
  margin: 0 auto;
}

button {
  background-color: #FFEBEF;
  background-position: center;
  border: none;
  color: #7F7F7F;
  // padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  font-family: 'Quicksand', sans-serif;
  height: 50px;
  width: 150px;
}

a:link {
  text-decoration: underline;
  color: #7F7F7F;
}

a:visited {
  text-decoration: underline;
  color: #7F7F7F;
}

a:hover {
  text-decoration: underline bold;
  color: #FFAFC4;
}

a:active {
  text-decoration: underline bold;
  color: #FFAFC4;
}
